@model ExamScoreSystem.Models.Student

@{
    ViewBag.Title = "Add Student";
}

<h3>Форма добавления студента</h3>
<form method="post" action="">
    <table class="table">
        @Html.ValidationSummary()
        <tr>
            <td><p>Имя студента</p></td>
            <td>@Html.TextBoxFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td><p>Фамилия студента</p></td>
            <td>@Html.TextBoxFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Сохранить" /></td>
        </tr>
    </table>
</form>
