@model IEnumerable<ExamScoreSystem.Models.Course>

@{
    ViewBag.Title = "Courses";
}
<h2>@ViewBag.Title</h2>

<div>
    <table class="table-bordered" cellpadding="5">
        <tr>
            <th>Название курса</th>
        </tr>
        @foreach (var course in Model)
        {
            <tr>
                <td>@Html.DisplayFor(c => course.CourseName)</td>
                <td>@Html.ActionLink("Details", "CourseDetails", new { id = course.CourseId })</td>
            </tr>
        }
    </table>
</div>