@model IEnumerable<ExamScoreSystem.Models.Course>

@{
    ViewBag.Title = "Courses";
}
<h2>@ViewBag.Title</h2>

<div>
    <table class="table-bordered" cellpadding="5">
        <tr>
            <td><h4>Название курса</h4></td>
        </tr>
        @foreach (var course in Model)
        {
            <tr>
                <td><a href="/Home/CourseDetails/@course.CourseId">@course.CourseName</a></td>
            </tr>
        }
    </table>
</div>