@model ExamScoreSystem.Models.Course

@{
    ViewBag.Title = "CourseDetails";
}

<h2>@Model.CourseName</h2>

<div>
    <table class="table-bordered">
        <tr>
            <th>Оценки</th>
            <th></th>
        </tr>
        @foreach (var exam in Model.Exams)
        {
            <tr>
                <td>@exam.Student.ToString()</td>
                <td>@exam.Mark</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Courses")
</p>