@model ExamScoreSystem.Models.Exam

@{
    ViewBag.Title = "EnterExam";
}

<h3>Форма добавления оценки</h3>
<form method="post" action="">
    <table class="table">
        <tr>
            <td><p>Выберите курс из списка:</p></td>
            <td>
                <select name="CourseName">
                    @foreach (var item in ViewBag.Courses)
                    {
                        <option>@item</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><p>Выберите студента из списка:</p></td>
            <td>
                <select name="StudentName">
                    @foreach (var item in ViewBag.Students)
                    {
                        <option>@item</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><p>Введите оценку</p></td>
            <td>@Html.EditorFor(model => model.Mark)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Отправить" /></td>
            <td></td>
        </tr>
    </table>
</form>
