@model IEnumerable<ExamScoreSystem.Models.Student>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>School #1 statistics</h2>
    <p class="lead">This App is for tracking students exams.</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h3>Добро пожаловать в программу учета успеваемости студентов школы №1</h3>
        <table class="table">
            <tr>
                <td>
                    <h5>Вы можете посмотреть полный список учащихся:</h5>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Home/Students">Студенты</a>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Или ознакомиться со списком предметов школы:</h5>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Home/Courses">Предметы</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<a></a>