@model IEnumerable<ExamScoreSystem.Models.Student>

@{
    ViewBag.Title = "ShowTop5";
}

<h2>Top 5 students</h2>

<div>
    <table class="table-bordered">
        <tr>
            <th>Имя и Фамилия</th>
            <th>Сумма баллов</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.FullName)</td>
                <td>@Html.DisplayFor(i => item.Total)</td>
                <td>@Html.ActionLink("Details", "StudentDetails", new { id = item.StudentId })</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Students")
</p>