@model ExamScoreSystem.Models.Student

@{
    ViewBag.Title = "StudentDetails";
}

<h2>@Model</h2>

<div>
    <table class="table-bordered">
        <tr>
            <th>Оценки</th>
            <th></th>
        </tr>
        @foreach (var exam in Model.Exams)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => exam.Course.CourseName)</td>
                <td>@Html.DisplayFor(modelItem => exam.Mark)</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Students")
</p>
